 /*
 creamos una clase de estilo para usar
 */
 
 .margin-div {
     margin-top: 5px;
 }
 
 .container {
     margin: 10px;
 }
 
 .container form label {
     color: maroon;
 }
 /*
 estilo para aplicar a un id
 */
 
 #username {
     color: red;
 }
 /*(
 estilo para aplicar globalmente
 * {
     color: red;
 }) 
 estilo para aplicar a un elemento
 */
 
 div {
     margin-left: 30px;
 }
 
 input {
     margin-left: 10px;
 }
 /* para evitar usar mucho codigo
 div, input {
     margin-left: 10px;
 }
 */
 
 p {
     color: blue;
 }